{% load static %}
<html>
<head>
    <title>Transporta Club</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="page-header">
    {% if user.is_authenticated %}
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="top-menu" id="login">Olá {{ user.username }} seja bem vindo.</a></li>
                <li><a class="top-menu" href="{% url 'post_new' %}" >Adicionar postagem <span class="glyphicon glyphicon-plus"></span></a></li>
                <li><a class="top-menu" href="{% url 'logout' %}">Sair <span class="glyphicon glyphicon-log-out"></span></a>
                </li>
            </ul>
        </div>
    {% else %}
        <a href="{% url 'login' %}" class="top-menu"><p class="glyphicon glyphicon-user">Login</p></a>
    {% endif %}

    <h1><a href="/">Transporta Club</a></h1>
</div>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>


<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Trabalho</h3>
                    <ul>
                        <li>Projeto Integrador</li>
                        <li> ENG. de computação III</li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Formador </h3>
                    <ul>
                        <li> Prof. Dr.</li>
                        <li> Vagner Cavenaghi</li>
                    </ul>
                </div>

                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Tema </h3>
                    <ul>
                        <li>Gestão da cadeia</li>
                        <li>de suprimento</li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Código Fonte </h3>
                    <ul>
                        <li><a href="https://github.com/wwweslei/transporta_blog" target="_blank"> Github </a></li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> Redes Sociais </h3>
                    <ul class="social">
                        <li><a href="https://www.youtube.com/watch?v=RQ-jpveeL4w&feature=youtu.be" target="_blank"> <i
                                class="fa fa-youtube">   </i> </a></li>
                        <li><a href="https://drive.google.com/drive/u/1/team-drives" target="_blank"> <i
                                class="fa fa-google" aria-hidden="true"> </i> </a></li>
                        <li><a href="https://github.com/wwweslei/transporta_blog" target="_blank"> <i
                                class="fa fa-github">
                              </i> </a></li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright 2019 Turma- 4N.1 POLO Mongaguá/SP Todos os direitos reservados. </p>
        </div>
    </div>
    <!--/.footer-bottom-->
</footer>
</body>
</html>
